li a {                                                                                                                                                                                                           
  border-radius: 2px;                                                                                  
  padding: 0.1rem 1rem;                                                                                
  /* border: gray 1px solid;                                                                               */
  cursor: pointer;                                                                                     
  min-width: 32px;
}                                           
li.break a {                                                                                           
  border-color: transparent;                                                                           
}
a {
  all: unset;
}
li:hover a {
  background-color: rgb(228, 224, 224);   
}                                                                                                      
li.pagination__link--active a {
  background-color: #EA494B;
  /* background-color: #0366d6;                                                                            */
  border-color: transparent;
  list-style: 'none';                                                                         
  color: white;                                                                                        
  min-width: 32px;                      
}            
li.pagination__link--active a span {
  color: white;
}
li.pagination__link--disabled a {                           
  color: grey;
  width: 100px;                                                                                         
} 
li.pagination__link--disabled {
  min-width: 32px;
}                                           
li.disable,                                                                                            
li.disabled a {                                   
  cursor: default;
  color: black;
}
a.pagination__link {                                                                                                                                                                                                           
    border-radius: 2px;                                                                                  
    padding: 0.1rem 1rem;                                                                                
    /* border: gray 1px solid;                                                                               */
    cursor: pointer;                                                                                   
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
p img {
  width: 100%;
}
